@charset "UTF-8";
/*
    This CSS stylesheet was created by the Crattivo Department of Gocreattivo.
    It is designed to style NavbarStyle-1.html template with a customizable logo positioned at the center.
    Our team specializes in Full Stack Development, Database Management, API Integration,
    Frontend & Backend Coordination, and Code Optimization.
    Gocreattivo is dedicated to providing high-quality, efficient, and scalable design solutions.
*/

*{
    padding:0;
    margin:0;
}
body{
    overflow-x: hidden;
}
header,
.mobile-nav,
.mobile-nav-links-container{
    background: #111;
}
.default-nav,
.mobile-nav__text {
    font-family: 'Jost', sans-serif;
}

/*Base css for default-nav*/
header{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    top: 0;
    box-shadow: 5px 5px 15px 0 rgba(31, 31, 31, 0.07);
    position: relative;
    z-index: 10;
}
.default-nav-header-top{
    display: flex;
    flex-direction: row;
    vertical-align: center;
    width: 100%;
}
.default-nav-header-top-left-section,
.default-nav-header-top-right-section{
    ul{
        display: inline-flex;
        list-style: none;
        gap: 50px;
    }
    li{
        color: white;
        font-style: normal;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 0.9em;
        letter-spacing: 0.25px;
        line-height: 4.5em;
        font-weight: 600;
        display: list-item;
        position: relative;
    }
}
.default-nav-header-top-left-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    margin-left: 5%;
}
.default-nav-header-top-right-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin-right: 4%;
}
.default-nav-header-top-separator{
    border-bottom: 1px solid #201f1f;
    height: 0.25vh;
    margin: 0 4% 0 4% ;
}
.default-nav{
    display: flex;
    margin:0;
    font-weight: bold;
    height: auto;
    width: 100%;
}
.default-nav-links{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}
.default-nav-links li.nav-logo{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 15vw;
}
.default-nav ul{
    list-style: none;
    margin-right: 20vw;
}
.default-nav ul li {
    display: inline-block;
    position: relative;
}
.default-nav li.nav-logo a{
    display: block;
}
.default-nav li.nav-logo svg{
    height: 10vw;
    width:auto;
    display: inline;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.default-nav ul li a{
    display: block;
    padding: 5px 25px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.7vw;
}
.default-nav ul li ul.dropdown li{
    display: block;
    text-align: center;
}
.default-nav ul li ul.dropdown{
    width: 100%;
    height: auto;
    position: absolute;
    z-index:10;
    display: none;
    background:#222222;
}
.default-nav ul li a:hover{
    background: rgba(70, 70,70, 0.25);
}
.default-nav ul li ul.dropdown a:hover {
    background: rgba(70, 70,70, 0.25);
}
.default-nav ul li.nav-logo a:hover{
    background: none;
}
.default-nav ul li:hover ul.dropdown{
    display: block;
}
.default-nav-book-button{
    display: inline-block;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 44%;
    border: 0.25px solid #212529;
    margin: auto 3.5% auto 0;
    padding: 0 1em 0 2em;
    text-align: center;
    vertical-align: center;
    h3{
        display: inline-block;
        font-size: 0.9em;
        vertical-align: center;
        font-weight: bold;
        color: white;
    }
    span{
        display: inline-block;
        margin: 0 0.75em 0.43em 0.75em;
        border: none;
        width: 1.75em;
        height: 0.05em;
        background: white;
    }
    img{
        height: 1em;
        width: 1em;
    }
}
.mobile-nav-button {
    display: none;
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}
/*Base css for mobile-nav*/
.mobile-nav-open .mobile-nav {
    transform: translateX(30vw);
}
.mobile-nav {
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(100vw);
    transition: transform 0.7s ease-in-out;
    overflow: hidden;
}
.mobile-nav-close {
    background: none;
    display: flex;
    align-items: center;
    border: 0;
    padding: 15px 25px;
    color: #dddddd;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}
.mobile-nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    color: #dddddd;
}
.mobile-nav__text {
    font-size: 22px;
    font-weight: 500;
}
dl, ol, ul {
    margin-bottom: 0;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:1200px) {
    .default-nav-links li.nav-logo{
        margin-left: 7%;
        margin-right: 2vw;
    }
    .default-nav ul{
        margin-right: 15%;
    }
    .default-nav li.nav-logo img{
        height: 7vh;
    }
    .default-nav li.nav-logo a{
        padding: 8px 15px;
        margin: 0.15vh 0;
    }
    .default-nav ul li a{
        padding: 15px 15px;
        font-size: 0.85em;
        letter-spacing: 0.2px;
    }
    .mobile-nav{
        display: none;
    }
    .default-nav button {
        display: none;
    }
    .default-nav-book-button{
        height: 50%;
        border: 0.25px solid #1B427B;
        margin: auto 4% auto 0;
        padding: 0.80em 1em 0.80em 2em;
        h3{
            font-size: 0.92em;
        }
        span{
            margin: 0 0.75em 0.43em 0.75em;
            width: 1.75em;
            height: 0.05em;
        }
        img{
            height: 1em;
            width: 1em;
        }
    }
    .default-nav-header-top-left-section,
    .default-nav-header-top-right-section{
    ul{
        gap: 50px;
        margin: 1vw 0 0 0;
    }
    li{
        font-size: 0.92em;
        letter-spacing: 0.25px;
        line-height: 1.5em;
        font-weight: 600;
    }
    }
    .default-nav-header-top-left-section{
        width: 40%;
        margin-left: 5%;
    }
    .default-nav-header-top-right-section{
        width: 60%;
        margin-right: 4%;
    }
    .default-nav-header-top-separator{
        border-bottom: 1px solid #201f1f;
        height: 0.25vh;
        margin: 0.25vh 4% 0 4%;
    }
}
/*Desktops and large Laptops*/
@media only screen and (min-width:993px) and (max-width: 1199px){
    .default-nav-links li.nav-logo{
        margin-left: 15%;
        margin-right: 2vw;
    }
    .default-nav ul{
        margin-right: 15%;
    }
    .default-nav li.nav-logo img{
        height: 9.7vh;
    }
    .default-nav li.nav-logo a{
        padding: 3px 15px;
    }
    .default-nav ul li a{
        padding: 15px 15px;
        font-size: 0.75em;
        letter-spacing: 0.6px;
    }
    .mobile-nav{
        display: none;
    }
    .default-nav button {
        display: none;
    }
    .default-nav-book-button{
        height: 44%;
        border: 0.25px solid #1B427B;
        margin: auto 3.5% auto 0;
        padding: 0 1em 0 2em;
        h3{
            font-size: 0.9em;
        }
        span{
            margin: 0 0.75em 0.43em 0.75em;
            width: 1.75em;
            height: 0.05em;
        }
        img{
            height: 1em;
            width: 1em;
        }
    }
    .default-nav-header-top{
        display: none;
    }
    .default-nav-header-top-separator{
        display: none;
    }
}
/* small and medium laptops*/
@media only screen and (min-width: 769px) and (max-width: 992px){
    .default-nav-links li.nav-logo{
        margin-left: 10%;
        margin-right: 3vw;
    }
    .default-nav ul{
        margin-right: 10%;
    }
    .default-nav li.nav-logo img{
        height: 9.4vh;
    }
    .default-nav li.nav-logo a{
        padding: 3px 15px;
    }
    .default-nav ul li a{
        display: none;

    }
    .mobile-nav{
        display: none;
    }
    .default-nav button {
        display: none;
    }
    .default-nav-book-button{
        height: 44%;
        border: 0.25px solid #1B427B;
        margin: auto 3.5% auto 0;
        padding: 0 1em 0 2em;
        h3{
            font-size: 0.9em;
        }
        span{
            margin: 0 0.75em 0.43em 0.75em;
            width: 1.75em;
            height: 0.05em;
        }
        img{
            height: 1em;
            width: 1em;
        }
    }
    .default-nav-header-top{
        display: none;
    }
    .default-nav-header-top-separator{
        display: none;
    }
}
/* small and medium devices (portrait tablets/large phones and landscape tablets) */
@media only screen and (min-width: 601px) and (max-width: 768px){
    .default-nav{
        justify-content: flex-end;
    }
    .mobile-nav-button {
        display: flex;
        margin-right: 5vw;
    }
    .default-nav ul li{
        display: none;
    }
    .default-nav-links li.nav-logo{
        margin-left: 20%;
    }
    .default-nav li.nav-logo a{
        padding: 5px 10px;
    }
    .default-nav li.nav-logo img{
        height: 7vh;
    }
    .default-nav-book-button{
        height: 50%;
        border: 0.25px solid #1B427B;
        margin: auto 4% auto 0;
        padding: 0.80em 1em 0.80em 2em;
        h3{
            font-size: 0.92em;
        }
        span{
            margin: 0 0.75em 0.43em 0.75em;
            width: 1.75em;
            height: 0.05em;
        }
        img{
            height: 1em;
            width: 1em;
        }
    }
    .default-nav-header-top{
        display: none;
    }
    .default-nav-header-top-separator{
        display: none;
    }
    .mobile-nav-close {
        height: 8vh;
    }
    .mobile-nav-open .mobile-nav {
        transform: translateX(40vw);
    }
    .mobile-nav {
        width: 60vw;
    }
    .mobile-nav__link {
        padding: 15px 25px;
    }
    .mobile-nav__text {
        font-size: 1.5em;
        letter-spacing: 0.8px;
    }
}
/*Mobile Devices */
@media only screen and (max-width: 600px){
    .default-nav{
        justify-content: flex-end;
    }
    .mobile-nav-button {
        display: flex;
        margin-right: 5vw;
    }
    .default-nav ul li{
        display: none;
    }
    .default-nav-links li.nav-logo{
        margin-left:0;
    }
    .default-nav li.nav-logo a{
        padding: 15px 10px;
    }
    .default-nav li.nav-logo img{
        height: 8vh;
    }
    .default-nav-book-button{
        display: none;
    }
    .default-nav-header-top{
        display: none;
    }
    .default-nav-header-top-separator{
        display: none;
    }
    .mobile-nav-close {
        height: 11vh;
    }
    .mobile-nav-open .mobile-nav {
        transform: translateX(15vw);
    }
    .mobile-nav {
        width: 85vw;
    }
    .mobile-nav__link {
        padding: 15px 25px;
    }
    .mobile-nav__text {
        font-size: 1.5em;
        letter-spacing: 0.8px;
    }

}

